# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Environment variables
.env

# Node / Expo
node_modules/
.expo/
dist/

# Android
.gradle/
build/
local.properties

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
